#form
form(name="add-tarea" )
    div.form-group
        span.label Title
        input(type="text", name="inputText" id='inputText' ).form-control
    div.form-group
        button(onclick='accionPost()').btn.btn-primary Agregar 