extends layout
block content
  .row
    .col-lg-12.col-md-12
      include header.pug
  .container
    .row
      .col-lg-12.col-md-12
    .row
      .col-lg-6.col-md-6.col-sm-6
        include form.pug
      .col-lg-6.col-md-6.col-sm-6
        include table.pug
  .row
    .col-lg-12.col-md-12
      include footer.pug